<template name="eventPage">
  <div class="event-content">
    <h3>{{title}} <small>{{formatEventDate eventDate}}</small></h3>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="{{shareInPercent}}"
        aria-valuemin="0" aria-valuemax="100" style="width: {{shareInPercent}}%;">
        {{shareInPercent}}% share
      </div>
    </div>
    {{#if ownEvent}}
    <div>
      Event Managers:
      <ul class="list-group">
        <li class="list-group-item">{{author}}</li>
        {{#each eventManagers}}
          <li class="list-group-item">{{this}}</li>
        {{/each}}
      </ul>
    </div>
    {{/if}}
    {{#if beingCashier}}
    <div>
      Cashiers:
      <ul class="list-group">
        <li class="list-group-item">{{author}}</li>
        {{#each cashiers}}
          <li class="list-group-item">{{this}}</li>
        {{/each}}
      </ul>
    </div>
    {{/if}}
  </div>
</template>
